@charset "utf-8";

::before,
::after{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: "MicroSoft YaHei",sans-serif;
    background-color: #f5f5f5;
}

a{
    color: #333;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

input, textarea{
    border: none;
    outline: none;
    resize: none;
    -webkit-appearance: none;
}

.f_left{
    float: left;
}

.f_right{
    float:right;
}

.clearfix::before,
.clearfix::after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

[class^="icon_"]{
    background: url("../images/sprites.png") no-repeat;
    background-size: 200px 200px;
}

.m_110{
    margin-right:10px;
}

.m_r10{
    margin-bottom: 10px;
}

.m_t10{
    margin-top: 10px;
}
