@charset "utf-8";

.hm_layout{
    width: 100px;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
}

.hm_header{
    position: fixed;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    z-index: 1000;
}

.hm_header_box{
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    background: rgba(201,21,35,0);
    height: 40px;
    position: relative;
}

.hm_header_box .icon_logo{
    width: 60px;
    height: 36px;
    position: absolute;
    background-position: 0 -103px;
    top: 4px;
    left: 10px;
}

.hm_header_box form{
    width: 100px;
    padding-left: 75px;
    padding-right: 50px;
    height: 40px;
    position: relative;
}

.hm_header_box form input{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-top: 30px;
    padding-left: 30px;
}

.hm_header_box form .icon_search{
    height: 20px;
    width: 20px;
    position: absolute;
    background-position: -60px -109px;
    top: 10px;
    left: 85px;
}

.hm_header_box .login{
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
}

.hm_banner{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hm_bannerImg{
    width: 800%;
}

.hm_bannerImg > li{
    width: 12.5%;
    float: left;
}

.hm_bannerImg > li img{
    width: 100%;
    display: block;
}

.hm_bannerIndicator{
    width: 128px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%);   
}

.hm_bannerIndicator > li{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #fff;
    float: left;
    margin-left: 10px;
}

.hm_bannerIndicator > ls:first-of-type{
    margin-left: 0px;
}

.hm_bannerIndicator > li.active{
    background-color: #fff;
}

/* daohanglancss */

.hm_nav{
    width: 100%;
    background-color: #fff;
}

.hm_nav li{
    width: 25%;
    float: left;
    text-align:center;
    margin-top: 5px;
}

.hm_nav li img{
    width: 60px;
}

.hm_nav li p{
    line-height: 25px;
}

/* shangpinqucss */

.hm_product{
    width: 100%;
}

.product_box{
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 0 1px #e0e0e0;
}

.hm_sk{}

.hm_sk .product_box_tit{
    border-bottom: none;
    padding-left: 0;
}

.hm_sk .sk_icon{
    background: url("../images/seckill-icon.png") no-repeat;
    background-size: 16px 20px;
    width: 16px;
    height: 20px;
    float: left;
    margin-top: 3px;
}

.hm_sk .sk_name{
    color: #d8505c;
    font-size: 15px;
    float: left;
}

.hm_sk .sk_time{
    float: left;
    margin-top: 8px;
}

.hm_sk .sk_time span{
    float: left;
    width: 15px;
    height: 15px;
    text-align: center;
    background: #333;
    color: #fff;
    margin-left: 3px;
}

.hm_sk .sk_time span:nth-child(3n){
    background: transparent;
    color: #333;
    width: 5px;
}

.hm_sk .product_box_con{
    padding: 20px;
}

.hm_sk .product_box_con > ul{
    width: 100%;
}

.hm_sk .product_box_con > ul > li{
    width: 33.33%;
    float: left;
    text-align: center;
}

.hm_sk .product_box_con > ul > li img{
    width: 60%;
    display: inline-block;
}

.hm_sk .product_box_con > ul > li >p:first-of-type{
    color: #d8505c;
    padding-top: 5px;
}

.hm_sk .product_box_con > ul > li >p:last-of-type{
    text-decoration: line-through;
    color: #666;
    padding-top: 5px;
}

.product_box > .product_box_tit{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    padding-left: 30px;
}

.product_box > .product_box_tit > h3{
    position: relative;
    color: #666;
    font-weight: normal;
    font-size: 15px;
}

.product_box > .product_box_tit > h3::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 12px;
    background-color: #e92322;
    top: 9px;
    left: -8px;
}

.w_50{
    display: block;
    width: 50%;
}

.w_50 > img{
    width: 100%;
    display: block;
}

.b_right{
    border-right: 1px solid #ccc;
}

.b_bottom{
    border-bottom: 1px solid #ccc;
}